<ion-view>
    <ion-content>
        <!-- <ion-refresher pulling-text="Pull to refresh..." on-refresh="vm.getPosts()"></ion-refresher> -->
        <div class="spinner-outer-wrapper" ng-if="vm.loading">
            <div class="spinner-inner-wrapper">
                <ion-spinner icon="spiral"></ion-spinner>
            </div>
        </div>
        <div class="list card" ng-repeat="post in vm.posts">
            <div>
                <span class="blog-tag">{{ post.tag }}</span>
                <h2 class="blog-title"><a href="#" ng-click="vm.browse(post.entry_url)">{{ post.title }}</a></h2>
            </div>
            <div class="item item-image">
                <a href="#" ng-click="vm.browse(post.entry_url)"><img ng-src="{{ post.image_url }}"></a>
            </div>
        </div>
        <div class="load-more-wrapper">
            <button class="button button-block button-outline button-positive" ng-if="vm.initialized" ng-click="vm.loadMore()">もっと読む</button>
        </div>
    </ion-content>
</ion-view>
