<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="hokuohkurashi" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/blog">
    <ion-nav-view name="tab-blog"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Instagram" icon-off="ion-social-instagram-outline" icon-on="ion-social-instagram" href="#/tab/instagram">
    <ion-nav-view name="tab-instagram"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Twitter" icon-off="ion-social-twitter-outline" icon-on="ion-social-twitter" href="#/tab/twitter">
    <ion-nav-view name="tab-twitter"></ion-nav-view>
  </ion-tab>

</ion-tabs>
